body {
  font-family: sans-serif;
}

.all-nav-bar {
  background-color: dodgerblue;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 20px;
}

.song-search {
  display: flex;
  align-items: center;
  flex-flow: column wrap;
  padding: 100px;
}

.songSearchResults {
  display: flex;
  align-items: center;
  flex-flow: column wrap;
  margin: 50px;
}
