body {
  font-family: sans-serif;
}

.main-header {
  background: #1e90ff;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
}

.auth-form-div {
  text-align: center;
  display: flex;
  justify-content: center;
  height: 100vh;
  background: #7a9b76;
}

.paper-form {
  margin-top: 5%;
  height: 300px;
  padding: 80px;
}

.auth-form-box {
  display: flex;
  flex-flow: column nowrap;
  width: 400px;
}
