body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.center-nav,
.form-div {
  display: flex;
  justify-content: center;
}

.nav-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.all-nav-bar {
  background-color: grey;
}

.song-search {
  display: flex;
  flex-flow: column wrap;
  margin-left: 25%;
  margin-right: 25%;
}
